* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

:root {
	--primary: #182954;
	--secondary: #ed008c;
	--text: #ffffff;
}

/* Mobile */
body {
	display: flex;
	flex-direction: column;
	font-size: 0.9em;
	height: 100vh;
	justify-content: space-between;
	width: 100vw;
}

header {
	background-color: var(--primary);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.topbar {
	background-color: var(--secondary);
	display: flex;
	flex-direction: column;
	grid-area: 1 / 1 / 2 / 5;
}

.topbar__title-1 {
	color: var(--text);
	margin: 10px;
	text-align: center;
}

.topbar__menu {
	display: flex;
	justify-content: space-evenly;
	margin: 15px 0 15px 0;
}

.topbar__label {
	color: var(--text);
	font-weight: 500;
}
.topbar__select {
	background: none;
	border-radius: 5px;
	border: 2px solid rgb(255, 255, 255);
	height: 30px;
	width: 180px;
}

.logo {
	align-items: center;
	display: flex;
	grid-area: 2 / 1 / 3 / 2;
	justify-content: center;
	margin: 15px;
}

.navbar {
	grid-area: 2 / 2 / 3 / 5;
}

.navbar__menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 30px;
}

.navbar__menu-link {
	color: var(--text);
}

.gallery__banner-img {
	height: 100%;
	width: 100%;
}

.gallery__wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px;
}

.gallery__img {
	border-radius: 10px;
	height: 100%;
	width: 100%;
}

.gallery__caption {
	font-weight: bold;
	margin: 15px;
	text-align: center;
}

.form {
	margin: 0 auto;
	width: 50%;
	padding-bottom: 30px;
}

.form__title-2 {
	color: rgb(155, 155, 155);
	font-size: 1em;
	text-align: center;
}

.form__wrap {
	border: none;
	display: flex;
	flex-direction: column;
}

.form__wrap-legend {
	visibility: hidden;
}

.form__wrap-label {
	font-size: 1em;
	margin: 5px;
}

.form__wrap-input {
	border-radius: 5px;
	border: 2px solid #ccc;
	box-sizing: border-box;
	display: inline-block;
	height: 50px;
	margin: 8px 0;
	padding: 12px 20px;
	width: 100%;
}

.form__button {
	background-color: var(--secondary);
	border-radius: 4px;
	border: none;
	color: white;
	cursor: pointer;
	font-weight: bold;
	margin: 15px 0;
	padding: 14px 20px;
	width: 100%;
}

.footer {
	background-color: var(--primary);
}

.footer__copy {
	color: var(--text);
	margin: 30px;
	text-align: center;
}

/* Tablet */
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
	body {
		font-size: 1.2em;
	}
	.gallery__wrap {
		display: flex;
		flex-direction: row;
		margin: 10px;
	}
	.gallery__wrap-item {
		margin: 0 5px 0 5px;
	}

	.gallery__caption {
		margin: 0;
	}

	.form {
		margin-bottom: 50px;
		margin-top: 100px;
	}
}

/* Desktop */
@media screen and (min-device-width: 1024px) {
	body {
		font-size: 1.5em;
	}

	.topbar {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.topbar__menu-wrap {
		margin: 0 30px 0 30px;
	}

	.gallery__wrap {
		display: flex;
		flex-direction: row;
		margin: 10px;
	}

	.gallery__wrap-item {
		margin: 0 10px 0 10px;
	}

	.gallery__caption {
		margin: 0;
	}

	.form {
		margin-bottom: 50px;
		margin-top: 100px;
	}
}
